## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atuona,PF,77.40,clear sky,-9.8000,-139.0333,Villa Enata
1,1,Hilo,US,81.28,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
2,3,Babu,CN,92.17,clear sky,24.4167,111.5167,IU Hotel Hezhou Bus Terminal
3,5,Wilmington,US,82.31,scattered clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
4,8,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...,...
232,671,San Pedro,PH,88.32,scattered clouds,14.3500,121.0167,Palines Apartment and Guesthouse
233,674,Fare,PF,76.78,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
234,675,Saint-Georges,GD,80.28,few clouds,12.0564,-61.7485,Radisson Grenada Beach Resort
235,678,New Iberia,US,83.08,few clouds,30.0035,-91.8187,La Quinta Inn & Suites by Wyndham New Iberia
236,679,Mogadishu,SO,75.72,light rain,2.0371,45.3438,Hotel Juba

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Oyama']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Oyama']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Hasaki']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Tateyama'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Shimoda'] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
176,517,Oyama,JP,88.59,broken clouds,36.3,139.8,Toyoko Inn Oyama-eki Higashi-guchi No.1

In [6]:
import numpy as np

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

start

(36.3, 139.8)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itenerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING")
fig.add_layer(city_itenerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,517,Oyama,JP,88.59,broken clouds,36.3000,139.8000,Toyoko Inn Oyama-eki Higashi-guchi No.1
1,378,Hasaki,JP,90.28,moderate rain,35.7333,140.8333,Inubosaki Kanko Hotel
2,369,Tateyama,JP,80.53,mist,34.9833,139.8667,Tateyama Seaside Hotel
3,488,Shimoda,JP,93.11,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))